html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #BFCDE3;
}

body,
h1,h2,h3,h4,h5,h6 {
  font-family: Helvetica,Arial,sans-serif;
}

.navbar {
  margin-top: 50px;
}
